@model RecommendationTableViewModel
@{
    ViewData["Title"] = "Stats";
}

<div class="row small">
    <div class="col align-self-center">
        <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">☰</button>
    </div>
    <div class="col">
        <h2 class="display-4">Stats</h2>
    </div>
</div>
<div class="big">
    <h2 class="display-4">Stats</h2>
</div>

<br>
<table class="table table-responsive table-responsive-lg">
    <tr>
        <th></th>
        @foreach (var rec in Model.Recommendations)
        {
            <th class="recommendations-header">@rec.Content</th>
        }
    </tr>
    @{
        int userIndex = 0;
    }
    @foreach (var user in Model.Users)
    {
        <tr>
            <th>@user.UserName</th>
            @{
                int recommendationIndex = 0;
            }
            @foreach (var recommendation in Model.Recommendations)
            {
                <td id="tableContent-@userIndex-@recommendationIndex">---</td>
                {
                    recommendationIndex++;
                }
            }
        </tr>
        
        {
            userIndex++;
        }
    }
</table>
<br>


<table class="table table-responsive table-responsive-lg">
    <tr>
        <th></th>
        @foreach (var rec in Model.Recommendations)
        {
            <th class="recommendations-header">@rec.Content</th>
        }
    </tr>
    @{
        userIndex = 0;
    }
    @foreach (var user in Model.Users)
    {
        <tr>
            <th>@user.UserName</th>
            @{
                int recommendationIndex = 0;
            }
            @foreach (var recommendation in Model.Recommendations)
            {
                <td id="tablePredictionContent-@userIndex-@recommendationIndex">---</td>
                {
                    recommendationIndex++;
                }
            }
        </tr>

        {
            userIndex++;
        }
    }
</table>

@section Scripts{ 
    <script src="~/js/table.js"></script>
}
