
@{
    ViewData["Title"] = "Index";
}

<div class="marginTop">
    <h2>Index</h2>
    <div id="sideMenu"></div>
    <div>
        <div id="messages">
            Loading...
        </div>
        <div id="inputArea" class="form-group">
            <textarea class="form-control" type="text" id="chatBox"></textarea>
            <button id="enterBtn" class="btn btn-outline-primary">Enter</button>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/chat.js"></script>
}