
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div id="sideMenu"></div>
<div>
    <div id="messages">
        Loading...
    </div>
    <div id="inputArea">
        <textarea type="text" id="chatBox"></textarea>
        <button id="enterBtn">Enter</button>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/chat.js"></script>
}