
@{
    ViewData["Title"] = "Index";
}

<div class="fullPage">
    <div class="row small">
        <div class="col align-self-center">
            <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_open()">
                >
            </button>
        </div>
        <div class="col">
            <h2 class="display-4 header"> Stats </h2>
        </div>
    </div>
    <div class="big"><h2 class="display-4 header"> Stats </h2></div>

    <div id="pieChart">
        <div id="monthly-piechart"></div>
        <div id="yearly-piechart"></div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/js/pie-chart-drawer.js"></script>
}

