
@{
	ViewData["Title"] = "Index";
}
<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
	<h2 class="display-4 header"> Stats </h2>


<div id="monthly-piechart"></div>
<div id="yearly-piechart"></div>

<script type="text/javascript" src="~/js/pie-chart-drawer.js"></script>
</body>




