@{
    var primary = this.Context.Request.Cookies["primaryColor"];
    var secondary = this.Context.Request.Cookies["secondaryColor"];
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IntelliMood</title>


    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style>
        .primaryColor {
            background-color: @primary;
        }

        .secondaryColor{
            color: @secondary;
        }

        #enterBtn {
            border-color: @secondary;
            color: @secondary;
        }
    </style>
</head>
<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">IntelliMood</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">S
                    <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row" id="contentPage">
            <!-- Sidebar -->
            <div class="col-2">
                <div class="sidebar primaryColor">
                    <div>
                        <p id="menuHeader" class="secondaryColor">Menu</p>
                    </div>
                    <div class="linkSidebar">
                        <div class="text">
                            <a asp-controller="Chat" asp-action="Index">Chat</a>
                        </div>
                    </div>
                    <div class="linkSidebar">
                        <div class="text">
                            <a asp-controller="Manage" asp-action="Index" title="Manage">Profile</a>
                        </div>
                    </div>
                    <div class="linkSidebar">
                        <div class="text">
                            <a asp-controller="Calendar" asp-action="Index">Calendar</a>
                        </div>
                    </div>
                    <div class="linkSidebar">
                        <div class="text">
                            <a asp-controller="Stats" asp-action="Index">Stats</a>
                        </div>
                    </div>
                    <div class="linkSidebar">
                        <div class="text">
                            <a asp-controller="Recommendation" asp-action="Stats">Recommendations</a>
                        </div>
                    </div>
                    <div id="logoutbtn"></div>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline my-2 my-lg-0">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Log out</button>
                            </li>
                        </ul>
                    </form>

                </div>
            </div>

            <!-- Page Content -->
            <div class="col-10">
                <div class="container-fluid" id="">
                    @RenderBody()
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="container body-content" style="height: 100vh">
            @RenderBody()
        </div>
    }


    @if (!User.Identity.IsAuthenticated)
    {
        <hr />
        <footer style="bottom: 0">
            @await Html.PartialAsync("../Home/Contact")
            <p>&copy; 2019 - IntelliMood.Web</p>
        </footer>
    }


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
