@{
    ViewData["Title"] = "Index";
}
<div class="fullPage">
    <div class="calendar">
        <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">☰</button>
        <button id="btn-back" type="button" class="btn btn-outline-primary"> < </button>
        <p id="month-name"></p>
        <button id="btn-forward" type="button" class="btn btn-outline-primary"> > </button>
        <div id="year"></div>
        <div id="year"></div>
        <div id="calendar-days"></div>
    </div>
</div>

@section Scripts{
    <script src="~/js/calendar-switch-months.js"></script>
    <script src="~/js/fade-in-fade-out.js"></script>
}
