@{
    ViewData["Title"] = "About";
}

<h2>About IntelliMood</h2>
<p id="about-text">
    IntelliMood is a web app made by a few high schoolers. It was created to improve people's lives by fixing a bad mood or
    improving even further a good mood. It's created using ASP.NET Core with the supporting technologies of C#, HTML, CSS, 
    Microsoft SQL and JavaScript.
</p>
<p class="link"><a href="https://github.com/GenchoBG/SmartDiary/">Link</a> to GitHub repository.</p>
