@{
    ViewData["Title"] = "Contact";
}
<div style="display: flex">
    <address class="link"><a href="https://github.com/GenchoBG/SmartDiary/">Link</a> to GitHub repository.</address>
    <address>
        <strong>Support:</strong> <a href="mailto:genchobg11@gmail.com">genchobg11@gmail.com</a>
    </address>

</div>