@{
    ViewData["Title"] = "Dev Team";
}
<div style="display: flex">
    <address>
        <strong>Front-End and Back-End: Aneta Tsvetkova</strong>
        <strong>Front-End, Back-End and ML: Evgeni Dimov</strong>
        <strong>Front-End, Back-End: Kalin Doychev</strong>
        <strong>Front-End, Back-End and ML: Kostadin Kostadinov</strong>
    </address>
</div>
