@{
    ViewData["Title"] = "Contact";
}
<div style="display: flex">
    <address>
        <strong>Support:</strong> <a href="mailto:genchobg11@gmail.com">genchobg11@gmail.com</a>
    </address>
</div>
