@{
    ViewData["Title"] = "Dev Team";
}
<div style="display: flex">
    <address class="link"><a href="https://github.com/GenchoBG/SmartDiary/"><i class="fab fa-github" style="font-size: 60px; margin-right: 30px"></i></a> </address>
	<address>
		<strong>Aneta Tsvetkova</strong> - Front-End and Back-End <br/>
		<strong>Evgeni Dimov </strong> - Front-End, Back-End and ML <br/>
		<strong>Kalin Doychev </strong> - Front-End, Back-End <br/>
		<strong>Kostadin Kostadinov </strong> - Front-End, Back-End and ML <br/>
	</address>

</div>