@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<h1 id="topic" class="display-1 text-center" style="font-family: 'Roboto', sans-serif;">IntelliMood <small class="text-muted">help your mood</small></h1>
<hr />

<div class="parent">
	<div class="text-side">
		<p id="welcome-text">
			Find new activities, movies, books and more to improve your mood. IntelliMood will help you turn your frown upside down,
			discover a new hobby or interest. All you need to do is to register.
		</p>
	</div>
	
</div>

@section Scripts{ 
    <script src="~/js/carousel.js"></script>
}