.message {
    padding: 5px 20px;
    border-radius: 50%;
}

.star-img {
	width: 30px;
}


.rating-btn {
	border: none;
	background: transparent;
}

#thanks-alert {
	display: none;
	width: 75%;
	position: fixed;
	left: 50%;
	margin-left: -37.5%;
	text-align: center;
}