/*Footer*/

footer {
    margin-left: 60px;
}

p, a, h2, h1 {
    font-family: 'Sniglet', cursive;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 300;
}

/* Calendar */

.calendar {
    text-align: center;
    padding-top: 20px;
}

    .calendar > button {
        display: inline;
        margin-bottom: 5%;
        border-radius: 100%;
    }

    .calendar > p {
        display: inline;
        font-size: 80pt;
    }

.day {
    display: inline-block;
    font-size: 20pt;
    width: 40px;
    height: 40px;
}

#month-name {
    font-size: 50pt;
    width: 50%;
}

.year {
    font-size: 40pt;
}

.circular-btn {
    border-radius: 100%;
}

/* end */

body, html {
    overflow-x: hidden;
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.divided {
    border-right: 1px solid lightgray;
    height: 65vh;
    margin-bottom: 1%;
    margin-right: 3%;
}

.marginTop {
    margin-top: 3%;
}

/* sidebar */

#mySidebar {
    z-index: 100;
    width: 15%;
}

#menuHeader {
    text-align: center;
}

#contentPage {
    min-height: 100%;
}

#logoutbtn {
    margin-bottom: 10%;
}

/* end */

/* chat */

.person {
    float: right !important;
    text-align: right !important;
}

    .person p {
        text-align: left;
    }

#thanks-alert {
    display: none;
}

.message {
    padding: auto 0;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 1%;
    text-align: left;
}

.messageContent {
    font-size: 15pt;
    overflow-wrap: normal;
    max-width: 70%;
    padding: 10px 20px;
    border-radius: 35px;
    margin-bottom: 0;
    display: inline-block;
}

.recommendationAnswer {
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    margin-bottom: 2%;
}

.botQuestion {
    margin-top: 2%;
}

.messageSmallContent {
    font-size: 10pt;
}

.timestampSmall {
    display: block;
    font-size: 6pt;
}

.imgBot {
    display: inline-block;
    max-width: 60px;
    min-width: 50px;
}

.timestamp {
    display: block;
    font-size: 8pt;
}

.person .timestamp {
    text-align: right;
}

.noresize {
    resize: none;
}

#inputArea {
    /* position: absolute; */
    bottom: 0;
    z-index: 3;
    background-color: white;
    padding: 0 0 1%;
    margin-bottom: 0;
    /* width: 90%; */
}

#messages {
    overflow-y: auto;
    direction: ltr;
    display: block;
    height: 80vh;
}

.modalChatPreview {
    overflow-y: auto;
    direction: ltr;
    max-height: 50vh;
}

/* end */

/* Home page */
@keyframes right-slide {
    from {
        transform: translateX(-400px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes left-slide {
    from {
        transform: translateX(400px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.link {
    font-size: 15px;
}

    .link:hover {
        text-decoration: none;
    }

.parent {
    display: flex;
}

.text-side {
    flex: 1;
}

.carousel-side {
    flex: 1;
}

#welcome-text {
    padding: 0 10px;
    text-align: justify;
    font-size: 20px;
    animation: right-slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#about-text {
    text-align: justify;
    font-size: 20px;
    animation: left-slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#pieChart {
    display: flex;
}

.small {
    display: none;
}

.big {
    display: flex;
}

.small-inline {
    display: inline-block;
}

.rating-btn {
    width: 5%;
    height: 5%;
    display: inline-block;
    border-radius: 60px;
    background-color: transparent;
    border-color: transparent;
}

.star-img {
    width: 70%;
    height: 70%;
}

/* mobile-friendly */
html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

/* loading banner */
.spinner {
    margin: 100px auto;
    width: 70px;
    height: 70px;
    position: relative;
    text-align: center;
  
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
  
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

/* typing indicators */
.tiblock {
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    display: flex;
}

.tidot {
    -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
    -ms-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 2px;
    width: 5px;
}

@-webkit-keyframes mercuryTypingAnimation {
    0% {
        -webkit-transform: translateY(0px);
    }
    28% {
        -webkit-transform: translateY(-5px);
    }
    44% {
        -webkit-transform: translateY(0px);
    }
}

.tidot:nth-child(1) {
    -webkit-animation-delay: 200ms;
}
.tidot:nth-child(2) {
    -webkit-animation-delay: 300ms;
}
.tidot:nth-child(3) {
    -webkit-animation-delay: 400ms;
}

@media screen and (max-width: 1000px) {
    .calendar > p {
        display: inline;
        font-size: 20pt;
    }

    #month-name {
        font-size: 20pt;
    }

    .day {
        display: inline-block;
        font-size: 10pt;
        width: 10px;
        height: 10px;
    }

    .year {
        font-size: 40pt;
        margin-bottom: 3%;
    }

    .fullPage {
        height: 100vh;
    }

    .imgBot {
        width: 10%;
    }

    .messageContent {
        font-size: 10pt;
        padding: 10px 20px;
    }

    #pieChart {
        display: block;
        overflow-y: auto;
        height: 100%;
    }

    .small {
        display: flex;
    }

    .form-resize {
        display: flex;
    }

    .big {
        display: none;
    }

    .display-4 {
        font-size: 30pt;
    }

    .control-profile {
        margin: auto;
    }

    .rating-btn {
        width: 10%;
        height: 10%;
        display: inline-block;
        -ms-border-radius: 60px;
        border-radius: 60px;
        background-color: transparent;
        border-color: transparent;
    }

    .star-img {
        width: 70%;
        height: 70%;
    }

    #topic {
        font-size: 50pt;
        overflow-wrap: normal;
    }

    .parent {
        height: 100%;
        display: block;
    }

    .text-side {
        display: block;
        overflow-wrap: normal;
    }

    #homePage, .homePage {
        display: block;
        overflow-y: auto;
        height: 100%;
    }

    footer {
        display: none !important;
    }

    .recommendations-header {
        font-size: 8pt;
    }

    .user-header {
        font-size: 8pt;
    }

    .information-table {
        font-size: 8pt;
    }

    #mySidebar {
        width: 60%;
    }
}

@media screen and (max-width: 460px) {
    .rating-btn {
        width: 15%;
        height: 15%;
        display: inline-block;
        -ms-border-radius: 60px;
        border-radius: 60px;
        background-color: transparent;
        border-color: transparent;
    }

    .star-img {
        width: 70%;
        height: 70%;
    }

    .imgBot {
        width: 13%;
    }
}
