@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="marginTop">
    <div class="row small">
        <div class="col align-self-center">
            <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">
                >
            </button>
        </div>
        <div class="col-8">
            <h2 class="display-4">Manage your account</h2>
        </div>
    </div>
    <div class="big">
        <h2 class="display-4">Manage your account</h2>
    </div>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="col-11 control-profile">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
