@using IntelliMood.Data.Models
@using IntelliMood.Web.Views.Manage
@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)">
        <a asp-action="Index" class="btn btn-outline-primary w-100 d-block">Profile</a>
    </li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">
        <a asp-action="ChangePassword" class="btn btn-outline-primary w-100 d-block">Password</a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)">
            <a asp-action="ExternalLogins" class="btn btn-outline-primary w-100 d-block">External logins</a>
        </li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
        <a asp-action="TwoFactorAuthentication" class="btn btn-outline-primary w-100 d-block">Two-factor authentication</a>
    </li>
</ul>

